/* Universal Selector */
* {
    padding: 0;
    margin: 0;
    /* background-color: red; */

}

/* Element Selector */
body {
    background-color: whitesmoke;
    color: #333;
}


/* div {
    color: blue;
} */

.hero {
    color: blue;
    
}

.hero button {
    color: blue;
}

header {
    color: red;
}
